*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~

*.DS_Store
.idea/
*.iml
*.iws

target
\.tern-port
*.log

logs
web/src/main/webapp/saiku-ui/CONTRIBUTING.md
web/src/main/webapp/saiku-ui/LICENSE
web/src/main/webapp/saiku-ui/README.md
web/src/main/webapp/saiku-ui/index.html.orig
web/src/main/webapp/saiku-ui/minify.patch
web/src/main/webapp/saiku-ui/node_modules/
web/src/main/webapp/saiku-ui/npm-debug.*

